{% extends 'core/base.html' %}
{% block content %}
</br></br></br>
<div class="container mt-5">
	<h1 class='f1 fs-1' style="color: #343A40">RUPESH PATIL</h1>
	<h5 class='fs-3' style='color:#BD5D38'>104/Madhuban Vihar Apt  ·  Andheri West  ·  Mumbai-400 058  · Email: 100rupesh@gmail.com</h5>
</br></br></br>
	<p class='st-font text-indent:100px mt-5 fs-4'>I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
</br></br></br></br></br></br></br></br></br></br>
	<div class='mb-3'>
		&nbsp&nbsp&nbsp&nbsp<i class="fab fa-linkedin fa-3x"></i>&nbsp&nbsp&nbsp&nbsp
		<i class="fab fa-facebook fa-3x"></i>&nbsp&nbsp&nbsp&nbsp
		<i class="fab fa-twitter fa-3x"></i>&nbsp&nbsp&nbsp&nbsp
		<i class="fas fa-mail-bulk fa-3x"></i>&nbsp&nbsp&nbsp&nbsp




	</div>
 



	</div>

	{% endblock %}